/*
 * Filename: 	markdown.css
 * Description:	Markdown CSS
 * Author:		Jonas Devlieghere
 * 				<info@jonasdevlieghere.com>
 * Website:		http://jonasdevlieghere.com
 */

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(http://themes.googleusercontent.com/static/fonts/droidserif/v4/0AKsP294HTD-nvJgucYTaLrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url(http://themes.googleusercontent.com/static/fonts/droidserif/v4/QQt14e8dY39u-eYBZmppwRbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url(http://themes.googleusercontent.com/static/fonts/droidserif/v4/cj2hUnSRBhwmSPr9kS5894o3ZslTYfJv0R05CazkwN8.woff) format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 700;
  src: local('Droid Serif Bold Italic'), local('DroidSerif-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/droidserif/v4/c92rD_x0V1LslSFt3-QEpiHgNb6vKVPdRA9LSAKGxzw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxhbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}

/*
 * Reset by http://meyerweb.com/eric/tools/css/reset/
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 * Start of Actual Style Sheet
 */

html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	color:#444444;
	background-color:#fefefe;
	font-family: 'Droid Serif', Georgia, serif;
	font-size:12pt;
	line-height:1.5em;
	padding:1em;
	margin:auto;
	max-width:55em;
}

a {
	color: #3498db;
	text-decoration:none;
}
a:visited{ color: #3498db; }
a:hover{
  color: #34495e;
  text-decoration: underline;
}
a:active{ color:#faa700; }
a:focus{ outline: thin dotted; }
a:hover, a:active{ outline: 0; }

h1,h2,h3,h4,h5,h6{
	color: #111111;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	line-height: 1em;
	margin: 15px 0px;
}
h1 {
  font-size: 2.5em;
  color: #34495e;
}
h2 {
	font-size: 1.75em;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 10px;
  color: #2980b9;
}
h3 { font-size: 1.25em; color: #3498db; }
h4 { font-size: 1.125em; color: #3498db; }
h5 { font-size: 1.0em; color: #3498db; }
h6 { font-size: 0.9em; color: #3498db; }

p{
	margin:1em 0em;
	text-align: justify;
}

img{
	max-width: 100%;
	border: 0;
	vertical-align: middle;
}

blockquote{
	color: #666666;
	margin: 0;
	padding-left: 3em;
	border-left: 0.5em #eeeeee solid;
}

hr {
	display: block;
	height: 2px;
	border: 0;
	border-bottom: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

b, strong {
	font-weight: 700;
}

em, i {
	font-style: italic;
}

dfn {
	font-style: italic;
}

ins {
	background: #ff9;
	color: #000;
	text-decoration: none;
	}

mark {
	background: #ff0;
	color: #000;
	font-style: italic;
	font-weight: 700;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align:
	baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }


ul, ol {
	margin: 0em 0;
	padding: 0 0 0 2em;
	}

ol li {
	list-style-type: decimal;
	padding-bottom: 0.00em;
}

ul li {
	list-style-type: disc;
	padding-bottom: 0.00em;
}

li p:last-child {
	margin: 0;
}

dd {
	margin: 0 0 0 2em;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

td {
	vertical-align: top;
}

table th {
	font-weight: 700;
}

table th, table td {
	border: 1px solid #ccc;
	padding: 6px 13px;
}

table tr {
	border-top: 1px solid #ccc;
	background-color: #fff;
}

table tr:nth-child(2n) {
	background-color: #f8f8f8;
}

pre, code, tt {
	font-size: 0.98em;
	font-size: 13px;
	line-height: 19px;
	font-family: Consolas, Courier, Monospace;
}

code, tt {
	margin: 0px;
	padding: 2px;
	white-space: nowrap;
	border: 1px solid #eaeaea;
	background-color: #f8f8f8;
	border-radius: 3px;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
}

pre code, pre tt {
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	white-space: pre;
	border: none;
	background: transparent;
}

@media only screen and (min-width: 480px) {
	body{font-size:14px;}
}

@media only screen and (min-width: 768px) {
	body{font-size:16px;}
}

@media print {
	body{font-size:8pt; max-width:80%;}
	a { text-decoration: none; }
	@page :left { margin: 15mm 21mm 15mm 10mm; }
	@page :right { margin: 15mm 10mm 15mm 10mm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}
